.container {
  padding: 0;
}

.header{
  background-color: #00ADB5;
  color: white;
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 25px;
  border-radius: 0 0 85% 85% / 90%;
}

.main {
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  padding: 2px;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  display: none;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 70px;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  display: flex;
  flex-direction: row;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  min-width: 200px;

}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}
